.callout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-4);
  border-radius: var(--border-radius-md);
  width: 100%;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-1);
  flex: 1;
}

.text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--font-size-5);
  line-height: 1.6;
  color: inherit;
  margin: 0;
}

/* Variants */

/* Mobile styles */
.mobile .text {
  font-size: var(--font-size-3);
}

.mobile .iconContainer {
  width: 16px;
  height: 16px;
}

.mobile {
  width: 100%;
}
