.container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: var(--spacing-10, 40px);
  margin-top: var(--spacing-10, 40px);
  padding: 0 var(--spacing-5, 20px);
}

.center {
  padding: var(--spacing-6, 24px);
}

.right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10, 40px);
}

.navPostWrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: var(--spacing-8);
}

.navPrev {
  grid-area: 0 / 2;
}

.navNext {
  grid-area: 0 / 2;
}

@media screen and (min-width: 768px) {
  .navPostWrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: var(--spacing-10);
  }

  .navPrev {
    grid-area: 0 / 1;
  }

  .navNext {
    grid-area: 1 / 2;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 274px auto 274px;
    gap: var(--spacing-10, 40px);
    padding: 0 var(--spacing-20, 80px);
  }

  .left {
    position: sticky;
    top: calc(var(--default-header-height) + var(--spacing-8));
    align-self: flex-start;
  }
}
