.sessionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-2half);
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
  text-decoration: none;
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
  gap: var(--spacing-2half);
}

.sessionItem:hover {
  background-color: var(--pane-background-active);
}

.sessionItemActive {
  background-color: var(--primary-overlay-10);
  position: relative;
}

.sessionItemActive::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--primary-accent);
}

.sessionItemActive:hover {
  background-color: var(--primary-overlay-20);
}

.sessionInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.sessionName {
  font-size: var(--font-size-4);
  font-weight: 500;
  color: var(--global-foreground);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sessionOwner {
  font-size: var(--font-size-2);
  color: var(--overlay-60);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sessionDate {
  font-size: var(--font-size-2);
  color: var(--overlay-60);
}
