.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  width: 100%;
}

.heading {
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--global-foreground);
  margin-bottom: var(--spacing-4);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-alpha-5);
  border: 1px solid var(--global-border);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.dangerCard {
  display: flex;
  flex-direction: column;
  background-color: var(--color-red-alpha-10);
  border: 1px solid var(--color-red-alpha-20);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-5);
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-8);
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  flex-shrink: 0;
}

.cardTitle {
  font-size: var(--font-size-4);
  font-weight: 500;
  color: var(--global-foreground);
  margin: 0;
}
