.container {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
}

.container [cmdk-input] {
  padding: var(--spacing-2) 0 var(--spacing-2) var(--spacing-6);
  width: 100%;
  border-radius: var(--border-radius-smbase);
}

.container [cmdk-input]:focus-visible {
  outline: none;
}

.searchIcon {
  position: absolute;
  width: 16px;
  height: 16px;
  color: var(--overlay-60);
}

.inputWithSuggestion {
  position: relative;
  width: 100%;
}

.suggestion {
  position: absolute;
  top: 0;
  padding: 8px 0 8px 24px;
}

.inputValue {
  color: transparent;
}

.suggestionSuffix {
  color: var(--overlay-60);
}
