.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: var(--spacing-2) 0;
  gap: var(--spacing-2);
}

.searchIcon {
  width: 16px;
  height: 16px;
  color: var(--overlay-60);
}

.inputWithSuggestion {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius-smbase);
  caret-color: var(--global-foreground);
}

.input:focus-visible {
  outline: none;
}

.suggestion {
  position: absolute;
  top: 0;
}

.completeSuggestion {
  color: var(--overlay-60);
}

.completeInputText {
  color: transparent;
}
