

.iconContainer > svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--overlay-60);
}

.labelArea {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  opacity: 0;
}

.expandLabelArea {
  opacity: 1;
}
