.tableNodeWrapper {
  padding: var(--spacing-10);
  background-color: var(--global-background);
  height: 100%;
  width: 270px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  border-radius: var(--border-radius-lg-plus);
}

.previewImage {
  height: 100%;
  width: 270px;
  border-radius: var(--border-radius-lg-plus);
}
