.buttonGroup {
  display: flex;
  gap: var(--spacing-2);
  height: 100%;
}

.button {
  height: 100%;
  border-radius: var(--border-radius-sm);
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.button:hover {
  background-color: var(--button-background-hover);
}
