.edge {
  stroke: var(--pane-border-hover);
  stroke-width: 1px;
  transition: stroke 0.3s var(--default-timing-function);
}

:global([data-loading='true']) .edge {
  stroke: transparent;
  opacity: 0;
}

.hovered {
  stroke: var(--node-layout);
}

.requested {
  stroke-dasharray: 5, 5;
  stroke: rgba(0, 100, 255, 0.6);
}

.badgeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
