.globalNavContainer {
  composes: globalNavContainer from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}

.globalNav {
  composes: globalNav from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}

.logoContainer {
  composes: logoContainer from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}

.logoSection {
  composes: logoSection from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}

.iconContainer {
  composes: iconContainer from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}

.labelArea {
  composes: labelArea from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}

.liamMigrationLogo {
  composes: liamMigrationLogo from '../../../../../packages/ui/src/components/GlobalNav/GlobalNav.module.css';
}
