.wrapper {
  composes: wrapper from '../../../../../packages/ui/src/components/AppBar/AppBar.module.css';
}

.leftSection {
  composes: leftSection from '../../../../../packages/ui/src/components/AppBar/AppBar.module.css';
}

.rightSection {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.chevronRight {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--overlay-70);
}
