.postCard {
  padding: var(--spacing-6);
  max-width: 424px;
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function), background-color
    var(--default-hover-animation-duration) var(--default-timing-function);
}

.postCard:hover {
  color: var(--color-black-alpha-100);
  background-color: var(--color-gray-0);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  max-width: 376px;
}

.title {
  font-family: var(--message-font);
  font-size: var(--font-size-10);
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 149px;
}

@media screen and (max-width: 1024px) {
  .postCard {
    padding: var(--spacing-5);
  }
}

@media screen and (max-width: 768px) {
  .postCard {
    padding: var(--spacing-4) var(--spacing-2);
  }

  .title {
    font-size: var(--font-size-5);
  }
  
  .writer {
    font-size: var(--font-size-1);
  }
}