.postCard {
  padding: var(--spacing-6);
  /* background-color: gray; */
}

.inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  max-width: 376px;
}

.title {
  font-family: var(--message-font);
  font-size: var(--font-size-10);
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 149px;
}